:root {
    --navbar-height: 60px;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0 !important;
    letter-spacing: 1px;
}

html {
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto Slab', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-y:scroll;
}

::selection {
    background: #444;
    color: #fff
}

a {
    -webkit-tap-highlight-color: transparent;
}

p {
    margin: 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #555;
}


body {
    background-color: #17a2b8;
}

.navbar-wrap {
    background-color: transparent;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    background: transparent;
}

.navbar--scroll  {
    background: #dfe4ea;
    transition: all 0.4s ease;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.navbar--scroll-1 {
    background: #000;
    transition: all 0.4s ease;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.navbar--scroll .navbar .nav-right li a {
    color: #000;
}

.navbar--scroll .navbar .nav-right #login-icon {
    color: #000;
    border-color: #000;
}

.navbar--scroll .navbar .nav-left .logo__link {
    color: #000;
}

.navbar--scroll .navbar .nav-left #navbar-img {
    fill: #000;
}

.navbar--scroll .navbar .bar-icon .bar  {
    background-color: #000;
}

.navbar {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    user-select: none;
    padding-bottom: 12px;
    width: 40%;
}

.logo__link {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 800;
    text-decoration: none;
    line-height: 3.5rem;
    display: flex;
    align-items: center;
    font-family: 'Balsamiq Sans', sans-serif;
}

.logo__link span {
    padding-top: 12px;
}

.logo__link:hover {
    color: #fff;
    text-decoration: none;
}

#navbar-img {
    height: 10%;
    width: 10%;
    margin-right: 8px;
    fill: #fff;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}

.nav-item {
    font-size: 2rem;
    padding: 0 16px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.nav-item:last-child {
    padding-right: 0;
}

.nav-item__link {
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
}

.underline {
    margin-top: 4px;
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    transition: all 0.2s ease-in;
    transform: scale(0);
    background-color: #fdcb6e;
}

.nav-item__link:hover {
    text-decoration: none;
    color: #fdcb6e !important;
}

.nav-item__link:hover ~ .underline {
    transform: scale(1);
}

.nav-item-active a {
    color: #fdcb6e !important;
}

#login-icon {
    margin-bottom: 8px;
    padding: 0 6px;
    margin: 0 8px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    outline: none;
}

#login-icon:hover {
    color: #fdcb6e !important;
    border-color: #fdcb6e !important;
}

.nav-item__link {
    display: block;
}

.nav-item-active .underline {
    transform: scale(1);
}

.bar-icon {
    margin-left: 16px;
    display: none;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 7px);
    transform: rotate(-45deg) translate(-9px, 7px);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -7px);
    transform: rotate(45deg) translate(-8px, -7px);
}

.mobile-menu {
    position: fixed;
    top: var(--navbar-height);
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    background-color: #000;
    border-top: 1px solid #ddd;
    margin: 0 -15px;
    text-align: center;
    display: none;
    overflow-y: hidden;
}

.mobile-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu-item:nth-child(1) {
    padding-top: 24px;
}

.mobile-item__link {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin: 16px 0;
}

.mobile-item__link:hover {
    text-decoration: none;
}

.mobile-login {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(72, 219, 253), rgb(29, 209, 161));
    width: 50%;
    height: 50px;
}

.mobile-login:hover {
    color: #fff;
}

/* Carousel */

.carousel-item {
    position: relative; 
}

.carousel-shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);;
    color: #fff;
}

.carousel-shadow-title {
    position: absolute;
    top: 13%;
    width: 100%;
    font-size: 80px;
    font-weight: 1000;
    /* font-family: 'Lobster', sans-serif; */
    user-select: none;
    text-align: center;
}

/* Footer */

.app-footer {
    margin-top: 100px;
    padding-top: 32px;
    border-top: 1px solid #ddd;
    background: #EDF0F2;
}

.footer-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #144aa8;
}

.footer-list {
    list-style: none;
    padding-left: 0;
}

.footer-item {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(0,0,0,0.7);

}

.footer-item-link {
    display: block;
    font-size: 14px;
    color: rgba(0,0,0,0.7);
}

.footer-item-link:hover {
    text-decoration: none;
}

.footer-social-icon {
    font-size: 40px;
    color: #a7bbcf;
}


.footer-social-icon:hover {
    color: #144aa8;
}

.term-accept {
    font-size: 14px ;
}
